body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-top: auto; /* Auto margin to center vertically */
  margin-bottom: 20px;
}

#social-links {
  margin: 40px 0;
  text-align: center; /* Center align the content inside #social-links */
  width: 100%; /* Ensure it takes full width to center the title */
}

#social-links h3 {
  margin-bottom: 20px; /* Add some space below the "Connect with me" title */
}

#social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the social links horizontally */
  align-items: center; /* Vertically center the social links */
  gap: 20px;
}

#social-links li {
  display: flex;
  justify-content: center; /* Center each icon within its container */
  align-items: center; /* Vertically center each icon within its container */
}

#social-links .social-icon img {
  width: 40px;
  height: 40px;
}

#skills {
  margin-bottom: auto; /* Allow space below skills */
  padding-bottom: 40px; /* Give some space below the skills section */
  text-align: center; /* Center align the content inside #skills */
  width: 100%; /* Ensure it takes full width to center the title */
}

#skills h3 {
  margin-bottom: 20px; /* Add some space below the "My Skills" title */
}

#skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin: 10px;
  text-align: center;
}

.skill img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
