<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />

    <!-- SEO Meta Tags -->
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta name="keywords" content="{{ with .Site.Params.keywords }}{{ delimit .
    ", " }}{{ else }}{{ "default, keywords" }}{{ end }}" />
    <meta name="author" content="{{ .Site.Params.author }}" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta
      property="og:description"
      content="{{ .Site.Params.ogDescription }}"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:image" content="{{ .Site.Params.ogImage | relURL }}" />

    <!-- Canonical Link -->
    <link rel="canonical" href="{{ .Permalink }}" />

    <!-- Favicon -->
    <link rel="icon" href="{{ "images/favicon-16x16.png" | relURL }}"
    sizes="16x16" type="image/png" /> <link rel="icon" href="{{
    "images/favicon-32x32.png" | relURL }}" sizes="32x32" type="image/png" />
    <link rel="icon" href="{{ "images/favicon.ico" | relURL }}"
    type="image/x-icon" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{{ "images/apple-touch-icon.png" | relURL
    }}" />

    <!-- Android Chrome Icons -->
    <link rel="icon" href="{{ "images/android-chrome-192x192.png" | relURL }}"
    sizes="192x192" type="image/png" /> <link rel="icon" href="{{
    "images/android-chrome-512x512.png" | relURL }}" sizes="512x512"
    type="image/png" />

    <!-- Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Site.BaseURL }}",
        "description": "{{ .Site.Params.description }}"
      }
    </script>
  </head>

  <body>
    <div class="main-container">
      <div class="intro-section">
        <h1 class="site-name" tabindex="0">{{ .Site.Params.name }}</h1>
        <h2 class="job-title" tabindex="0">{{ .Site.Params.jobTitle }}</h2>
      </div>

      <main class="content" role="main">{{ block "main" . }} {{ end }}</main>

      <section class="social-links" aria-labelledby="social-links-heading">
        <h3 class="social-links-heading" tabindex="0">
          {{ .Site.Params.connectTitle }}
        </h3>
        <ul>
          {{ range .Site.Params.socialLinks }}
          <li>
            <a
              href="{{ .url }}"
              class="social-icon"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{ .name }}"
            >
              <img src="images/{{ .image }}" alt="{{ .name }}" />
            </a>
          </li>
          {{ end }}
        </ul>
      </section>

      <section class="skills" aria-labelledby="skills-heading">
        <h3 class="skills-heading" tabindex="0">
          {{ .Site.Params.skillsTitle }}
        </h3>
        <div class="skills-container">
          {{ range .Site.Params.skills }}
          <div class="skill">
            <a
              href="{{ .url }}"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{ .name }}"
            >
              <img src="{{ .image | relURL }}" alt="{{ .name }}" />
              <p>{{ .name }}</p>
            </a>
          </div>
          {{ end }}
        </div>
      </section>
    </div>
  </body>
</html>
