:root {
  /* Theme Colors */
  --background-color: rgb(32, 33, 36);
  --font-color: rgb(191, 191, 191);
  --focus-outline: 2px solid rgb(255, 255, 255);

  /* Sizing */
  --social-image-size: 56px;
  --skill-image-size: 80px;

  /* Spacing */
  --space: 8px;
  --space-2x: calc(2 * var(--space));
  --space-3x: calc(3 * var(--space));
  --space-4x: calc(4 * var(--space));
  --space-6x: calc(6 * var(--space));

  /* Breakpoints */
  --mobile-breakpoint: 768px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--font-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus,
button:focus {
  outline: var(--focus-outline);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Fallback for browsers that don't support svh */
  min-height: 100svh;
  gap: var(--space-6x);
}

@media (max-width: var(--mobile-breakpoint)) {
  .main-container {
    gap: var(--space-3x);
  }
}
