<section class="skills" aria-labelledby="skills-heading">
  <h3 class="skills__heading" tabindex="0">{{ .Site.Params.skillsTitle }}</h3>
  <div class="skills-container">
    {{ range .Site.Params.skills }}
    <div class="skills-container__skill">
      <a
        href="{{ .url }}"
        target="_blank"
        rel="noopener noreferrer"
        class="skills-container__link"
        aria-label="Learn more about {{ .name }}"
      >
        {{ $skillImage200 := resources.Get .image200 | fingerprint }} {{
        $skillImage400 := resources.Get .image400 | fingerprint }} {{
        $skillImage800 := resources.Get .image800 | fingerprint }}
        <img
          srcset="{{ $skillImage200.Permalink }} 200w, 
                     {{ $skillImage400.Permalink }} 400w, 
                     {{ $skillImage800.Permalink }} 800w"
          sizes="(max-width: 600px) 200px, (max-width: 1200px) 400px, 800px"
          src="{{ $skillImage400.Permalink }}"
          alt="{{ .name }} logo"
        />
        <p>{{ .name }}</p>
      </a>
    </div>
    {{ end }}
  </div>
</section>
