<section class="social-links" aria-labelledby="social-links-heading">
  <h3 class="social-links__heading" tabindex="0">
    {{ .Site.Params.connectTitle }}
  </h3>
  <ul>
    {{ range .Site.Params.socialLinks }}
    <li>
      <a
        href="{{ .url }}"
        class="social-links__link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit my {{ .name }} profile"
      >
        {{ $image200 := resources.Get .image200 | fingerprint }} {{ $image400 :=
        resources.Get .image400 | fingerprint }} {{ $image800 := resources.Get
        .image800 | fingerprint }}
        <img
          srcset="{{ $image200.Permalink }} 200w, 
                     {{ $image400.Permalink }} 400w, 
                     {{ $image800.Permalink }} 800w"
          sizes="(max-width: 600px) 200px, (max-width: 1200px) 400px, 800px"
          src="{{ $image400.Permalink }}"
          alt="{{ .name }} logo"
        />
      </a>
    </li>
    {{ end }}
  </ul>
</section>
