<section class="social-links" aria-labelledby="social-links-heading">
  <h3 class="social-links__heading" tabindex="0">
    {{ .Site.Params.connectTitle }}
  </h3>
  <ul>
    {{ range .Site.Params.socialLinks }}
    <li>
      <a
        href="{{ .url }}"
        class="social-links__link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit my {{ .name }} profile"
      >
        {{ $image := resources.Get (print "images/" .image "-400.png") |
        fingerprint }} <img srcset="{{ (resources.Get (print "images/" .image
        "-200.png") | fingerprint).Permalink }} 200w, {{ (resources.Get (print
        "images/" .image "-400.png") | fingerprint).Permalink }} 400w, {{
        (resources.Get (print "images/" .image "-800.png") |
        fingerprint).Permalink }} 800w" sizes="(max-width: 600px) 200px,
        (max-width: 1200px) 400px, 800px" src="{{ $image.Permalink }}" alt="{{
        .name }} logo" />
      </a>
    </li>
    {{ end }}
  </ul>
</section>
